body {
    background-color: hotpink;
    color: chartreuse;
}

.banner-image {
    display: inline-block;
    align-self: center;
    width: 420px;
    max-width: 80vw;
    border-radius: 100vw;
    aspect-ratio: 1;
}

.title {}

.story {}