body {
    background-color: hotpink;
    color: chartreuse;
}

.banner-image {
    display: inline-block;
    align-self: center;
    width: 256px;
    max-width: 100%;
    border-radius: 10rem;
    aspect-ratio: 1;
}

.title {}

.story {}