body {
    background-color: dodgerblue;
    color: white;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__image {
        display: inline-block;
        align-self: center;
        width: 260px;
        max-width: 80vw;
        border-radius: 100vw;
        aspect-ratio: 1;
    }

    &__title {}

    &__story {}
}