.section-socials {
    >.container {
        align-items: center;
    }

    padding: 2rem 0;
    background-color: chartreuse;
    color: hotpink;

    .socials {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding: 2rem 0;

        &__link {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            width: 6ch;
            text-align: center;
            color: inherit;
            text-decoration: none;

            img {
                display: inline-block;
                width: 100%;
                height: auto;
            }
        }
    }
}